@font-face{
    font-family:"Bariol";
    src:url("fonts/bariol.ttf");
}
@font-face{
    font-family:"Bariol-bold";
    src:url("fonts/bariolbold.ttf");
}
@font-face{
    font-family:"Bariol-thin";
    src:url("fonts/bariolthin1.ttf");
}
@font-face{
    font-family:"Cooperm";
    src:url("fonts/cooperm.ttf");
}
#father {
    /* background-image: url('img/fatherhood.svg');
    background-size: cover; */
    /* display: inline-block; */
    position: absolute;
    top: 25%;
    /* right: 25%; */
    /* margin: 0 auto; */
    /* bottom: ; */
    /* z-index: 0; */
    /* padding: auto 0; */
    
}
#father img {
    float: right;
    width: 50%;

}

/* 
#barbecue {
    background-image: url('img/barbecue.svg');
    background-size: cover;
}
#eiffel {
    background-image: url('img/eiffel.svg');
    background-size: cover;
}
#wedding {
    background-image: url('img/wedding.svg');
    background-size: cover;
} */
.dicaprio {
    background: linear-gradient(#ffc7ff, #ff50dd);
    height: 100vh;
}
nav {
    display: flex; 
    justify-content: space-between;
    padding: 10px;
}
.brand {
    font-family: 'Bariol-bold';
    font-size: 3em;
}
.brand a {
    color: black;
}

    
.menu {
    font-family: 'Bariol-thin';
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    font-style: italic;
    justify-content: flex-end;
}
.grey {
    color: grey;
    padding: 0 0.5em;
    
}
h1 {
    font-family: 'Cooperm';
    font-size: 4em;
    text-transform: uppercase;
    padding-left: 10px;
    /* width: 685px; */
    margin-top: 100px;
}

a {
    text-decoration: none;
}


/* img {
    width: 50%;
    float: right;
    margin-right: 10em;
    position: relative;
    top: 20%;

} */
*{
    padding: 0;
    margin: 0;
}

/* HEADER */